.home-container {
  width: 100%;
  height: 700px;

  background-image: url(../../assets/images/background-sala.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  margin-bottom: 30px;
}

.box-quadrado {
  max-width: 700px;
  min-width: 300px;
  
  margin-left: 150px;
  
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
  background-color: #12121223;
  padding: 100px;
  
}

.descricao {
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 80px;
}

.texto-destaque {
  color: var(--cor-primaria);
}

.box-botao {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  
  padding: 20px;
  background-color: var(--cor-primaria);
}

.box-botao:hover {
  background-color: var(--cor-secundaria);
}

 .box-botao a {
  text-decoration: none;
  color:var(--cor-neutra);
  font-weight: 700;

}

/* estilizando a segunda section */

.servicos-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: row;
  flex: 1;
  gap: 50px;
  padding-bottom: 10px;
  
}

.box-quadrado-servicos {
 width: 40%;
  
  margin-left: 150px;
  
  height: 100%;

  display: flex;
  align-items: center;
  
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  
 
  

}

.titulo-servicos {
  color: var(--cor-primaria);
  font-size: 2.2rem;
}

.texto-terciario {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.box-lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 30px;
  
}

.itens-lista {
  font-size: 1.3rem;
  color: var(--cor-primaria);
  
}

.lado-direito {
  
  width: 40%;
  padding: 25px;
  display: flex;
 
  align-items: center;
  flex-direction: column;
  gap: 50px;

}

.exemplo-imagem{
  background-color: var(--cor-secundaria);
  height: 320px;
  width: 100%;
}

/* section sobre nos */

.sobrenos-container {
  width: 100%;
  
  background-color:var(--cor-desfoque);
  display: flex;
 
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 40px;

}

.conteudo {
  height: 50%;
  width: 60%;
 
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
  
}

.titulo-sobrenos {
  font-size: 2.5rem;
  color: var(--cor-primaria);
  font-weight: 700;
}

.subtitulo-sobrenos {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.texto-sobrenos {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;

}

.galeria {
  width: 100%;
  margin-top: 30px;
  
  
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  
}

.galeria img {
  width: 20%;
  height: 250px;
  border-radius: 4px;
}

.contato-container {
  width: 100%;
 
  
  
  display: flex;
  
  
  flex-direction: column;
  align-items: center;

}

.mapa {
  width: 100%;
  height: 500px;
  margin-top: 50px;

  
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapa iframe {
  border: 0;
}

.informacoes {
  width: 75%;
 
  margin-top: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  

}

.box-informacoes {
  display: flex;
  flex-direction: column;
  width: 300px;
  
  background-color: rgb(255, 255, 255);
  padding: 20px;
  
  
  
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  gap: 20px;
  box-shadow: 6px 6px 36px 9px rgba(0, 0, 0, 0.11);
}

.box-botao-informacoes {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  
  padding: 20px;
  background-color: var(--cor-primaria);
}

.box-botao-informacoes:hover {
  background-color: var(--cor-secundaria);
  color: #FFF;
}

.box-botao-informacoes a {
  text-decoration: none;
  color:var(--cor-neutra);
  font-weight: 700;
  text-align: center;
}

.title-informacoes {
  font-size: 1.6rem;
  padding: 5px 15px;
  border-radius: 4px;
  color: var(--cor-primaria);
  
}

.descricao-informacoes {
  color: var(--cor-primaria);
  text-align: center;
  
}

.box-horarios {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgb(255, 255, 255);
  
  padding: 12px 16px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  gap: 20px;
  box-shadow: 6px 6px 36px 9px rgba(0, 0, 0, 0.11);
  margin-bottom: 30px;

}

.lista-horarios {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  list-style: none;
  
  
  

}

.lista-horarios-itens {
  font-size: 1.3rem;
  font-weight: 400;
  color: #121212;
  
}

.avaliacoes-container {
  width: 100%;
  
  background-color:var(--cor-secundaria);
  display: flex;
 
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 40px;
}

.titulo-avaliacoes {
  color: #fff;
  font-size: 2.2rem;
  margin-top: 10px;
}

.container-avaliacoes {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.box-avaliacoes {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(255, 255, 255);
  
  padding: 50px;
  
  /* align-items: center; */
  /* justify-content: center; */
  border-radius: 4px;
  gap: 20px;
  box-shadow: 6px 6px 36px 9px rgba(0, 0, 0, 0.11);

}

.header-avaliacoes {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.data-avaliacao {
  color: #12121281;
}

.texto-avaliacao {
  line-height: 1.5;
}

.nome-container {
  width: 100%;
}

.nome-container span {
  color: var(--cor-secundaria);
  font-weight: bold;
  font-size: 1.2rem;
}

.box-botao-avaliacoes {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  margin:  30px auto;
  
  padding: 20px;
  background-color: var(--cor-secundaria);
}

.box-botao-avaliacoes:hover {
  background-color: var(--cor-primaria);
}

.box-botao-avaliacoes a {
  text-decoration: none;
  color:var(--cor-neutra);
  font-weight: 700;
  text-align: center;
}


/* Estilos para telas pequenas */
@media (max-width: 768px) {
  .home-container {
    height: 400px;
    margin-bottom: 30px;
    
    
  }
  .box-quadrado {
    width: 100%;
    margin-left: 0;
    padding: 30px;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    
    

  }

  .descricao {
    font-size: 1.5rem;
  
  }

  .box-botao {
    width: 200px;
    
  }

  .servicos-container {
  
    flex-direction: column;
   
    width: 100%;
    gap: 10px;
    
    
    
  }

  .box-quadrado-servicos {
    width: 100%;
    
    margin-left: 0;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
  }



  .titulo-servicos {
   font-size: 1.5rem;
   text-align: center;
  }

  .texto-terciario {
   font-size: 1.2rem;
  }

  .box-lista {
    width: 90%;
  }

  .itens-lista {
    font-size: 1.2rem;
  }


  .exemplo-imagem {
    height: 300px;
    width: 300px;
  }

  .texto-terciario {
    text-align: center;
  }

  .sobrenos-container  {
    padding: 0px;

    
  }

  .conteudo {
    width: 100%;
    padding: 30px;
  }

 .titulo-sobrenos {
  font-size: 1.5rem;
  margin-top: 30px;
  text-align: center;
 }

 
 .subtitulo-sobrenos {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
 }

 .texto-sobrenos {
  font-size: 1.2rem;
  text-align: center;
 }

 .galeria {
  margin-bottom: 30px;
 }

 .galeria img{
  height: 300px;
  width: 300px;
 }



 

 .mapa {
  height: 300px;
  
 }

 .informacoes {
  margin-bottom: 30px;
  margin-top: 30px;
 }

 .box-informacoes {
  width: 98%;
 }

 .lista-horarios-itens {
  font-size: 1.0rem;
 }

 .box-avaliacoes {
  width: 300px;
 }

 .header-avaliacoes {
  flex-direction: column;
  gap: 15px;
 }

 .titulo-avaliacoes {
  text-align: center;
 }

 


 

 

  


}
 













